@page "/"

<PageTitle>Index</PageTitle>
<h1>Introduction</h1>
<p>Hello! I'm <a href="https://mattjameschampion.com/">Matt Champion</a> and this is my test site for trying out applying <code>Authorization</code> rules (such as policies) to multiple <code>.razor</code>/<code>.razor.cs</code> files (razor components) at once, overriding the rules in subdirectories and other edge cases!</p>
<p>I've written <a href="https://mattjameschampion.com/">a blog post that goes with this solution</a> if you wanted more information!</p>

<h1>Policies</h1>
<p>There are two policies controlling access in this app: <code>@Policy.SuccessPolicy</code> (always succeeds) and <code>@Policy.FailurePolicy</code> (always fails). You can play around with these by looking in <code>Auth.cs</code> and changing whether they call <code>context.Succeed(requirement);</code> or <code>context.Fail();</code> to see what pages you get access to!</p>

<h1>Pages</h1>
<p>Each page has different <code>Authorization</code> rules applied to them, some directly and some inheriting from an <code>_Imports.razor</code> file in the directory.</p>
<p>Here's a look at the different pages and what authorisation rules are in play!</p>

<table class="table">
    <thead>
    <tr>
        <th>Page</th>
        <th>Applied Policy</th>
        <th>Policy Source</th>
        <th>Why It's Interesting</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <a href="/FailurePolicy">FailurePolicy</a>
        </td>
        <td>@Policy.FailurePolicy</td>
        <td>Inherited from <code>_Imports.razor</code> in the root of FailurePolicy</td>
        <td></td>
    </tr>
    <tr>
        <td>
            <a href="/FailurePolicy/PolicyChangedExplicitly">PolicyChangedExplicitly</a>
        </td>
        <td>
            @Policy.SuccessPolicy <i>and</i> @Policy.FailurePolicy
        </td>
        <td>Explicitly specified in file (@Policy.SuccessPolicy) and <code>_Imports.razor</code> in the root of FailurePolicy (@Policy.FailurePolicy)</td>
        <td>Shows the additive nature of explicit rules in a page combining with inherited rules from <code>_Imports.razor</code></td>
    </tr>
    <tr>
        <td>
            <a href="/FailurePolicy/PageDifferentToLocation">PageDifferentToLocation</a>
        </td>
        <td>@Policy.SuccessPolicy</td>
        <td>Inherited from <code>_Imports.razor</code> in the root of SuccessPolicy</td>
        <td>The URL implies that it would inherit from FailurePolicy, but because the actual file is located in the SuccessPolicy directory it inherits from that version of <code>_Imports.razor</code></td>
    </tr>
    <tr>
        <td>
            <a href="/FailurePolicy/ChangedSubdirectory/Page">ChangedSubdirectoryPage</a>
        </td>
        <td>@Policy.SuccessPolicy</td>
        <td><code>_Imports.razor</code> in subdirectory</td>
        <td>The version of <code>_Imports.razor</code> in ChangedSubdirectory overrides the rule applied in the top-level <code>_Imports.razor</code></td>
    </tr>
    <tr>
        <td>
            <a href="/FailurePolicy/UnchangedSubdirectory/Page">UnchangedSubdirectoryPage</a>
        </td>
        <td>@Policy.FailurePolicy</td>
        <td>Top-level <code>_Imports.razor</code> in FailurePolicy</td>
        <td>Since there are no changes to the declared <code>Authorization</code> rules, this page inherits from the top-level <code>_Imports.razor</code></td>
    </tr>
    <tr>
        <td>
            <a href="/SuccessPolicy">SuccessPolicy</a>
        </td>
        <td>@Policy.SuccessPolicy</td>
        <td>Inherited from <code>_Imports.razor</code> in the root of SuccessPolicy</td>
        <td></td>
    </tr>
    <tr>
        <td>
            <a href="/Anonymous">Anonymous</a>
        </td>
        <td>None (allows for anonymous access)</td>
        <td>Inherited from <code>_Imports.razor</code> in the root of Anonymous</td>
        <td></td>
    </tr>
    </tbody>
</table>